$font-barlow: "Barlow Condensed", sans-serif;
$font-bellefair: "Bellefair", serif;
$font-b: "Barlow", sans-serif;

.planets {
  font-family: $font-barlow
}

.font-bellefair{
  font-family: $font-bellefair;
}

.font-barlow {
  font-family: $font-b
}