@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-barlow: "Barlow Condensed", sans-serif;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

#root {
  display: flex;
  width: 1440px;
}

@media (max-width: 1440px) {
   {
    background: url(./assets/destination/background-destination-desktop.jpg)
      no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 768px) {
   {
    background: url(./assets/destination/background-destination-tablet.jpg)
      no-repeat center center fixed;
    background-size: cover;
  }
}

@media (max-width: 375px) {
   {
    background: url(./assets/destination/background-destination-mobile.jpg)
      no-repeat center center fixed;
    background-size: cover;
  }
}
